body {
  margin: 0;
  padding: 0;
  overflow-y:hidden;
}

.jumbotron{
  height: 100vh;
  background-color: rgb(128,128,128) ;
  background-size: cover; 
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}